@import "tailwindcss";

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-599px * 1)); }
  }

  @keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateY(-5px) }
    35% { transform: translateY(-5px) rotate(5deg) }
    50% { transform: translateY(-5px) rotate(-5deg) }
    65% { transform: translateY(-5px) rotate(5deg) }
    75% { transform: translateY(-5px) rotate(-5deg) }
    100% { transform: translateY(0) rotate(0) }
  }

  @keyframes move {
    0% { transform: translatex(0) rotateY(180deg) }
    25% { transform: translatex(5px) rotateY(180deg)}
    35% { transform: translatex(-5px)rotateY(180deg)}
    50% { transform: translatex(5px)rotateY(180deg)}
    65% { transform: translatex(-5px) rotateY(180deg) }
    75% { transform: translatex(5px)rotateY(180deg)  }
    100% { transform: translatex(0) rotateY(180deg) }
  }

  @keyframes tip {
    0% { transform: translateX(0) }
    25% { transform: rotate(10deg) }
    50% { transform: rotate(-10deg) }
    75% { transform: rotate(10deg) }
    85% { transform: rotate(-10deg) }
    100% { transform: rotate(0);}
  }

  @keyframes brush {
    0% { transform: translateX(0)}
    25% { transform: rotate(-25deg);}
    50% { transform: rotate(25deg);}
    75% { transform: rotate(-25deg);}
    100% { transform: translateX(0)}
  }
